pytest          
pytest-cov      
coverage


pytest-mock
requests
requests-mock
pytest-benchmark
pytest-asyncio
bandit

## Dependencias para la pc 
fastapi[standard]
bcrypt
PyJWT
sqlalchemy
pydantic
pydantic[email]
uvicorn
dependency-injector

## Para testclient de fastapi
httpx
pydantic_settings
passlib
