pytest          
pytest-cov      
coverage


pytest-mock
requests
requests-mock
pytest-benchmark
pytest-asyncio
bandit

## Dependencias para la pc 
fastapi
bcrypt
PyJWT
sqlalchemy
pydantic
uvicorn
## Para testclient de fastapi
httpx
pydantic_settings
passlib